*{
    margin: 0;
    padding: 0;
}

img{
    width: 400px;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

.gato{
    width: 400px;
    height: 500px;
}

.piada{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.piada button{
    width: 100px;
}

